{{ partial "header.html" . }}

<div class="grid-screen__main grid-page">
    <main class="grid-page__content">
        <article class="article article--section">
            <header class="article__header">
                {{ with .Params.image }}<div class="article__image" style="background-image: url({{ . }})"></div>{{ end }}

                <h1 class="article__title">{{ .Title }}</h1>
            </header>

            <section class="article__text text">
                {{ .Content }}
            </section>
        </article>
    </main>
</div>

{{ partial "footer.html" . }}
