{{ define "main" }}
<main class="page__main section">
    <div class="content__main articles article-list">
        <header class="section__header">
            <div class="section__label">Posts about:</div>
            <h1 class="section__title">{{ .Title }}</h1>
        </header>

        {{ range .Data.Pages }}
        <article class="articles__article article-list__article">
            <header class="articles__header">
                {{ with .Params.image }}<div class="articles__image" style="background-image: url({{ . }});"></div>{{ end }}
                <time class="articles__time" datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
                <h2 class="articles__title">{{ if or .Pages .Content }}<a href="{{ .Permalink }}">{{ end }}{{ .Title }}{{ if or .Pages .Content }}</a>{{ end }}</h2>
            </header>
            <div class="text">{{ .Summary }}</div>
        </article>
        {{ end }}
    </div>
</main>
{{ end}}
