@use "variables";

.article-list {
    box-sizing: border-box;
    margin-bottom: 5rem;
    max-width: variables.$width-total;

    @media #{variables.$responsive-small} {
        padding-left: 1em;
    }

    @media #{variables.$responsive-medium-large} {
        padding-left: variables.$text-indent;
    }

    &__article {
        padding-right: 1em;

        & + & {
            margin-top: 2em;
        }
    }
}
