@import "variables";

.article-list {
    box-sizing: border-box;
    margin-bottom: 5rem;
    max-width: $width-total;

    @media #{$responsive-small} {
        padding-left: 1em;
    }

    @media #{$responsive-medium-large} {
        padding-left: $text-indent;
    }

    @media #{$responsive-large} {
        padding-right: $text-indent;
    }

    &__article {
        padding-right: 1em;

        & + & {
            margin-top: 2em;
        }
    }
}
