@use "variables";

.article-grid {
    display: grid;
    margin: 0 auto;
    max-width: variables.$width-total;
    padding: 1em 0;

    &__article {
        box-sizing: border-box;
        padding: 1em;

        @media #{variables.$responsive-medium-large} {
            grid-template-columns: 1fr 1fr;

            &:first-child {
                grid-column-end: span 2;
            }
        }

        &:nth-child(n + 2) {
            font-size: .9em;
        }
    }
}
