@use "variables";

.full-width {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;

    &__content {
        max-width: variables.$width-total;
        width: 100%;
    }
}
