@import "variables";

.header {
    background: linear-gradient(90deg, $color-highlight-background 50%, $color-background 50%);;

    &__content {
        background: $color-background;
        box-sizing: border-box;
        padding: 1em;
    }

    &__title {
        display: inline-block;
        font: 300 2.5rem $font-header;
        margin: 0 .8em 0 0;

        a {
            color: $color-highlight;
            text-decoration: none;
        }
    }

    &__subtitle {
        color: #FFF;
        display: inline-block;
        font-size: 1.4rem;
    }

    &__navigation {
        margin-top: .5em;
    }
}
