@import "variables";

.highlights {
    background: $color-highlight-background;
    max-width: $width-total;
    width: 100%;

    @media #{$responsive-medium-large} {
        &__main {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__entry {
        padding: 1em;
    }

    &__header {
        font: 400 1.6em $font-header;
        margin: 0 0 1rem;
    }
}
