@use "variables";

.section {
    &__header {
        margin: 3rem 0 5rem;
    }

    &__label {
        font: 300 1.2em variables.$font-header;
    }

    &__title {
        font: 400 2.6em variables.$font-header;
        margin: 0;
    }
}
