@use "variables";

.stats {
    line-height: variables.$line-height;

    @media #{variables.$responsive-medium-large} {
        &__entry {
            display: block;
        }
    }

    &__entry {
        @media #{variables.$responsive-small} {
            &:not(:last-child) {
                &:after {
                    content: ", ";
                }
            }
        }
    }
}
