@import "variables";

.text {
    line-height: $line-height;

    h2, h3 {
        margin: 1.2em 0 .4em;
    }

    li {
        margin: .4em 0;
    }

    table {
        border-collapse: collapse;
    }

    td, th {
        padding: .4em;
    }

    td + td, th + th, td + th, th + td {
        border-left: 1px solid lighten($color-text, 70%);
    }

    tr + tr {
        td, th {
            border-top: 1px solid lighten($color-text, 70%);
        }
    }

    blockquote {
        color: lighten($color-text, 30%);
        position: relative;

        &:before {
            border-left: 5px solid $color-highlight-dark;
            content: "";
            height: 100%;
            left: calc(-1em - 5px);
            position: absolute;
            top: 0;
        }

        > *:first-child {
            padding-top: .4em;
        }

        > *:last-child {
            padding-bottom: .4em;
        }
    }

    a {
        border-bottom: 1px solid $color-highlight-dark;
        color: inherit;
        text-decoration: none;

        &:hover {
            background: $color-highlight;
            border-color: $color-text;
        }
    }

    .footnotes {
        margin-top: 3em;
        font-size: .9em;
    }

    &--dark {
        a {
            border-bottom-color: $color-highlight;

            &:hover {
                color: #000;
            }
        }
    }
}
