@import "normalize";
@import "variables";

html {
    font: {
        family: $font-default;
    }
}

/* Header, Foot & Navigation */

@import "header";
@import "footer";
@import "nav-sections";

/* General Page Layout */

@import "page";
@import "content";

/* Article Listings */

@import "articles";
@import "article-grid";
@import "article-list";

/* Home Page */

@import "highlights";

/* Sections */

@import "section";

/* Article Page */

@import "article";
@import "stats";
@import "tags";

/* General Text Styling */

@import "text";

/* Content Elements */

@import "youtube";

.fixed-wrapper {
    overflow: auto;
}
