@import "normalize";

$medium-breakpoint: 690px;
$large-breakpoint: 1020px;

// Responsive Media Queries
$responsive-small: "only screen and (max-width: #{$medium-breakpoint - 1})";
$responsive-small-medium: "only screen and (max-width: #{$large-breakpoint - 1})";
$responsive-medium: "only screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint - 1})";
$responsive-medium-large: "only screen and (min-width: #{$medium-breakpoint})";
$responsive-large: "only screen and (min-width: #{$large-breakpoint})";

// Common Content Sizing
$line-height: 1.428;
$width-total: 1300px;
$width-content-relative: 62%;
$width-content-absolute: .62 * $width-total;
$width-side-relative: 38%;
$width-side-absolute: .38 * $width-total;

// Fonts
$font-default: "Open Sans", Helvetica, Arial, sans-serif;
$font-header: "Julius Sans One", Helvetica, Arial, sans-serif;

// Colors
$color-background: #000;
$color-highlight: #FF0;

html {
    font: {
        family: $font-default;
    }
}

.header {
    background: $color-background;
    padding: 1em;

    &__title {
        display: inline-block;
        font: {
            size: 2rem;
            weight: 400;
            family: $font-header;
        }
        margin: 0;

        a {
            color: $color-highlight;
            text-decoration: none;
        }
    }

    &__subtitle {
        color: #FFF;
        display: inline-block;
        font-size: 1.4rem;
        margin-left: 1em;
    }

    &__navigation {
        margin-top: 1em;
    }
}

.footer {
    background: $color-background;
    color: #FFF;
    padding: 1em;

    &__copyright {
        font-size: .8em;
        margin-top: 3em;
    }
}

.nav-sections {
    &__link {
        color: #FFF;
        display: inline-block;
        text-decoration: none;

        &:hover {
            color: $color-highlight;
        }

        & + & {
            margin-left: 2em;
        }

        &:first-child {
            margin-left: 1em;
        }

        &:before {
            background: $color-highlight;
            border: 1.6px solid $color-highlight;
            content: "";
            display: inline-block;
            height: 1.2em;
            margin-right: .2em;
            transform-origin: top right;
            transform: rotateZ(30deg);
            vertical-align: middle;
        }
    }
}

.grid-page {
    display: flex;
    max-width: $width-total;
    width: 100%;

    &__content {
        display: flex;
        flex: 1 1 $width-content-relative;
        flex-flow: row wrap;
        max-width: $width-content-relative;
    }

    &__sideline {
        flex: 1 1 $width-side-relative;
    }
}

.article-grid {
    padding: 1em 0;

    &__article {
        box-sizing: border-box;
        flex: 1 0 50%;
        padding: 1em;
    }

    &__header {

    }

    &__image {
        margin-bottom: .8em;
        background: {
            position: 50% 50%;
            size: cover;
        }
        height: 100px;
    }

    &__title {
        font-family: $font-header;
        line-height: $line-height;
        margin: 0;

        a {
            color: #000;
            text-decoration: none;

            &:hover {
                // color: $color-highlight;
                border-bottom: 2px solid darken($color-highlight, 5%);
            }
        }
    }
}

.page-intro {
    padding: 1em;
    max-width: 20em;
}

.highlights {
    background: darken($color-highlight, 5%);
    display: flex;

    &__entry {
        box-sizing: border-box;
        flex: 1 0 33%;
        padding: 1em;
    }

    &__header {
        font-family: $font-header;
    }
}

.races {
    list-style: none;
    padding: 0;

    &__entry {
        & + & {
            margin-top: .6em;
        }

        a {
            color: #000;
            text-decoration: none;

            .races__title {
                border-bottom: 1px solid #000;
            }
        }
    }

    &__title {
        display: inline-block;
    }

    &__date {
        background: $color-background;
        color: #FFF;
        display: inline-block;
        margin-right: .4em;
        padding: .4em;
        text-align: right;
        width: 3.4em;
    }
}

.resources {
    list-style: none;
    padding: 0;

    &__entry {
        & + & {
            margin-top: .6em;
        }
    }

    &__link {
        border-bottom: 1px solid #000;
        color: #000;
        display: inline-block;
        margin: .4em 0;
        text-decoration: none;

        &:hover {
            color: $color-highlight;
        }
    }
}

.text {
    p {
        line-height: $line-height;
    }

    a {
        border-bottom: 1px solid $color-highlight;
        color: inherit;
        text-decoration: none;
    }
}
