{{ partial "header.html" . }}

<main>
    {{ range first 4 (where .Site.Pages "Kind" "page") }}
    <article>
        <header>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae sollicitudin ante. Suspendisse dui purus, dapibus ut cursus at, scelerisque in orci. Integer malesuada elit in risus lobortis luctus.</p>
    </article>
    {{ end }}
    <article>
        <header>
            <h2><a href="#">Some Other Race Recap</a></h2>
        </header>
        <p>Ut euismod sollicitudin commodo. Maecenas fermentum nunc id orci viverra, sed suscipit enim vehicula. Fusce in dapibus eros, sed ultricies libero. Sed efficitur risus vitae lectus condimentum, at pellentesque est suscipit.</p>
    </article>
    <article>
        <header>
            <h2><a href="#">New Gear Review</a></h2>
        </header>
        <p>Sed efficitur risus vitae lectus condimentum, at pellentesque est suscipit. Mauris elit felis, sagittis id magna vitae, tempor sollicitudin nulla. Integer convallis ligula posuere nulla lobortis, at venenatis orci imperdiet.</p>
    </article>
</main>

<div>
    <nav>
        <h3>Upcoming Races</h3>
        <ul>
            {{ range (.Site.GetPage "section" "races").Sections.ByDate }}
            <li>{{ .Date.Format "Jan 2" }} {{ if .Pages }}<a href="{{ .URL }}">{{ end }}{{ .Title }}{{ if .Pages }}</a>{{ end }}</li>
            {{ end }}
        </ul>
    </nav>
    <nav>
        <h3>Current Training</h3>
        <ul>
            <li><a href="/training/plans/2017/">Yearly Plan</a></li>
            <li><a href="/training/plans/2017/base-3/">Weekly Plan</a></li>
        </ul>
    </nav>
    <iframe height="160" width="300" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.strava.com/athletes/17745574/activity-summary/00ce09fd56e435e96d599ec456e44ef89d58c082"></iframe>
</div>

{{ partial "footer.html" . }}
