{{ partial "header.html" . }}

<div class="grid-screen__main grid-page">
    <main class="grid-page__content grid-page__content--columns articles article-grid">
        {{ range first 5 (where .Site.Pages "Kind" "page") }}
        <article class="articles__article article-grid__article">
            <header class="articles__header">
                {{ with .Params.image }}<div class="articles__image" style="background-image: url({{ . }});"></div>{{ end }}
                <time class="articles__time" datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
                <h2 class="articles__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            </header>
            <div class="text">{{ .Summary }}</div>
        </article>
        {{ end }}
    </main>
    <aside class="grid-page__sideline">
        {{ with .Site.Params.Intro }}
        <div class="page-intro text">
            {{ with .gravataremail }}<img class="page-intro__photo" src="https://www.gravatar.com/avatar/{{ trim . " " | lower | md5 }}?s=160">{{ end }}
            <div class="page-intro__header">Hi, I'm {{ .name | plainify }}!</div>
            <p>{{ .text | safeHTML }}</p>
        </div>
        {{ end }}
    </aside>
</div>

<div class="highlights">
    <div class="grid-page">
        <div class="grid-page__content grid-page__content--columns">
            <nav class="highlights__entry">
                <h3 class="highlights__header">Upcoming Races</h3>
                <ul class="races">
                    {{ range (where (.Site.GetPage "section" "races").Sections.ByDate "Date" ">=" now) }}
                    <li class="races__entry">{{ if .Pages }}<a href="{{ .URL }}">{{ end }}<time class="races__date" datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "Jan 2" }}</time><span class="races__title">{{ .Title }}</span>{{ if .Pages }}</a>{{ end }}</li>
                    {{ end }}
                </ul>
            </nav>

            <nav class="highlights__entry">
                <h3 class="highlights__header">Recent Races</h3>
                <ul class="races">
                    {{ range first 2 (where (.Site.GetPage "section" "races").Sections.ByDate "Date" "<" now) }}
                    <li class="races__entry">{{ if .Pages }}<a href="{{ .URL }}">{{ end }}<time class="races__date" datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "Jan 2" }}</time><span class="races__title">{{ .Title }}</span>{{ if .Pages }}</a>{{ end }}</li>
                    {{ end }}
                </ul>
            </nav>
            {{ with .Site.Params.TrainingPlans }}
            <nav class="highlights__entry">
                <h3 class="highlights__header">Current Training</h3>
                <ul class="resources">
                    {{ with .Annual }}<li class="resources__entry"><a href="{{ . }}" class="resources__link">Annual Plan</a></li>{{ end }}
                    {{ with .Weekly }}<li class="resources__entry"><a href="{{ . }}" class="resources__link">Weekly Plan</a></li>{{ end }}
                </ul>
            </nav>
            {{ end }}
        </div>
        {{ if .Site.Params.Strava }}
        <div class="grid-page__sideline">
            <iframe class="highlights__entry" height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/{{ .Site.Params.Strava.AthleteId }}/latest-rides/{{ .Site.Params.Strava.WidgetId }}'></iframe>
        </div>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}
