{{ define "main" }}

<main class="page__main articles article-grid">
    {{ range first 5 (where .Site.Pages "Kind" "page") }}
    <article class="articles__article article-grid__article">
        <header class="articles__header">
            {{ if .Params.image }}<div class="articles__image" style="background-image: url({{ cond (eq (substr .Params.image 0 1) "/") .Params.image (path.Join .File.Dir .Params.image) }});"></div>{{ end }}
            <time class="articles__time" datetime="{{ .Date.Format "2006-01-02T15:04Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
            <h2 class="articles__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>
        <div class="text">{{ .Summary }}</div>
    </article>
    {{ end }}
</main>

<div class="highlights">
    <div class="highlights__main">
        {{ if .Site.Params.Strava -}}
        <div class="highlights__entry">
            <iframe loading="lazy" height="454" width="100%" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.strava.com/athletes/{{ .Site.Params.Strava.AthleteId }}/latest-rides/{{ .Site.Params.Strava.WidgetId }}"></iframe>
        </div>
        {{- end }}
    </div>
</div>

{{ end }}
